"""Tasks for maintaining the project."""

from invoke import task


{%- if deps_manager == 'pip' %}


@task
def create_environment(c):
    """Create a new conda environment for project."""
    c.run("conda create -n {{repo_name}} python={{python_version}}")
    c.run("conda activate {{repo_name}}")
    c.run("pip install -e .")


@task
def requirements(c):
    """Install project requirements."""
    c.run("pip install -r requirements.txt")


@task
def dev_requirements(c):
    """Install development requirements."""
    c.run("pip install -r requirements_dev.txt")


@task
def preprocess_data(c):
    """Preprocess data."""
    c.run("python src/{{repo_name}}/data.py")


@task
def train(c):
    """Train model."""
    c.run("python src/{{repo_name}}/train.py")


@task
def test(c):
    """Run tests."""
    c.run("pytest tests/")

{%- else %}


@task
def create_environment(c):
    """Create a new uv environment for project."""
    c.run("uv venv")
    c.run("uv pip install -e .[dev]")


@task
def requirements(c):
    """Install project requirements using uv."""
    c.run("uv pip install -e .")


@task
def dev_requirements(c):
    """Install development requirements using uv."""
    c.run("uv pip install -e .[dev]")


@task
def preprocess_data(c):
    """Preprocess data."""
    c.run("uv run python src/{{repo_name}}/data.py")


@task
def train(c):
    """Train model."""
    c.run("uv run python src/{{repo_name}}/train.py")


@task
def test(c):
    """Run tests."""
    c.run("uv run pytest tests/")

{%- endif %}

{%- if project_structure == 'full' %}


@task
def build_docs(c):
    """Build documentation."""
{%- if deps_manager == 'pip' %}
    c.run("mkdocs build")
{%- else %}
    c.run("uv run mkdocs build")
{%- endif %}


@task
def serve_docs(c):
    """Serve documentation."""
{%- if deps_manager == 'pip' %}
    c.run("mkdocs serve")
{%- else %}
    c.run("uv run mkdocs serve")
{%- endif %}

{%- endif %}
