# https://wandb.ai

_target_: lightning.pytorch.loggers.wandb.WandbLogger
save_dir: "${hydra:runtime.output_dir}"
offline: False
id: null
anonymous: null
project: "{{project_name}}"
log_model: False
prefix: ""
entity: "{{github_username}}"
group: ""
tags: []
job_type: ""
