"""Data modules for diffusion playground."""

from {{repo_name}}.data.MNIST_datamodule import MNISTDataModule
from {{repo_name}}.data.moons_datamodule import MoonsDataModule

__all__ = [
    "MNISTDataModule",
    "MoonsDataModule",
]
